body {
  background-color: #eee;
  padding-top: 70px;
}

@media (max-width: 768px) {
  body {
    padding-top: 276px;
  }
}

.jumbotron {
  background-color: #fff;
}

#a2zSource {
  width: 100%;
  font: 400 18px / 1.5em "Menlo" "Monaco" "Courier New" monospace;
}

#a2zOut {
  font-size: 18px;
  line-height: 1.5em;
}

.demo .panel {
  min-height: 160px;
}

h2 {
  padding-top: 70px;
}

.navbar-brand {
  font-weight: 900;
}

footer {
  text-align: center;
}